<div id="add-blog-modal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="icon-close close" data-dismiss="modal" aria-hidden="true">x</button>
            Place {{blog.title}} into the follow stacks
        </div>
        <div class="modal-body">
            <input type="hidden" class="js-tagger" style="width: 100%;">
        </div>
        <div class="modal-footer">
            <button class="btn save js-done">Done</button>
        </div>
    </div>
</div>