<div class="hidden-xs col-sm-4 col-md-3 col-lg-2" id="sidebar-region">
    <div class="reader-sidebar">
        <div>
            <input type="text" class="form-control" style="width: 100%;" placeholder="Find blogs and bloggers"/>
        </div>

        <ul class="main-menu-region pull-down">
            <li><a href="#"><i class="icon-list-ul"></i>Everything</a></li>
            <li><a href="#"><i class="icon-time"></i>Read Later</a></li>
            <li><a href="#"><i class="icon-heart"></i>Favorites</a></li>
        </ul>


        <h4>Organize</h4>
        <div class="reader-accordion organize-region">
            <div class="reader-accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#organize1" href="#readerStacks">
                    <i class="icon-caret-right"></i> Stacks
                    <span class="reader-item-count">(3)</span>
                </a>

            </div>
            <div id="readerStacks" class="accordion-body collapse in">
                <ul>
                    <li><a href="#"><img />Hot Dog Blogs</a></li>
                    <li class="active"><a href="#"><img />Cat Blogs</a></li>
                    <li><a href="#"><img />Dog Blogs</a></li>
                </ul>
            </div>
            <div class="reader-accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#organize1" href="#readerCategories">
                    <i class="icon-caret-right"></i> Categories
                    <span class="reader-item-count">(6)</span>
                </a>
            </div>
            <div id="readerCategories" class="accordion-body collapse">
                <ul>
                    <li><a href="#"><img />Blah</a></li>
                    <li><a href="#"><img />Pets</a></li>
                    <li><a href="#"><img />Programming</a></li>
                    <li><a href="#"><img />Blah</a></li>
                    <li><a href="#"><img />Pets</a></li>
                    <li><a href="#"><img />Programming</a></li>
                </ul>
            </div>
        </div>

        <h4>Discover</h4>
        <ul>
            <li><a href="#"><i class="icon-star"></i>Popular Blogs</a></li>
            <li><a href="#"><i class="icon-bar-chart"></i>Trending Blogs</a></li>
            <li><a href="#"><i class="icon-star"></i>Popular Stacks</a></li>
        </ul>
    </div>
</div>

<div class="col-sm-8 col-md-9 col-lg-10" id="main-region">
    <div class="row" id="reader-top-region">
        <div class="col-xs-4 js-name">
            <h2>Everything</h2>
        </div>
        <div class="col-xs-8 js-navigation">
            <ul class="visible-lg visible-md nav nav-pills pull-right">
                <li><a href="#"><i class="icon-plus-sign"></i>Add a Blog</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-share-alt"></i>
                        Show New Items
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-check"></i>
                        Mark As Read
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog"></i>
                        Settings
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                        <li><a href="#">Blah</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="items-region">
    <!-- 
        this is where the main content of the page goes 
        the items (user posts, blog posts, stack posts, user notes, favorited/readlater posts, etc)
    -->
    </div>
</div>