<div class="reader-accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#reader_sidebar_categories">
        <i class="icon-caret-right"></i> Categories
        <span class="reader-item-count">({{count this}})</span>
    </a>
    <div class="controls">
        <a class="js-sort" href=""><i class="icon-sort-by-alphabet{{sort_by}}"></i></a>
    </div>
</div>

<div id="reader_sidebar_categories" class="accordion-body collapse {{collapsed}}">
    <ul></ul>
</div>