
<div class="search-region"></div>

<ul class="main-menu-region pull-down">
	<li class="js-everything">
		<a href="#users/me/posts">
			<i class="icon-list-ul"></i> Everything
		</a>
	</li>
	<li class="js-read-later">
		<a href="#users/me/posts/read/later">
			<i class="icon-time"></i> Read Later
		</a>
	</li>
	<li class="js-favorites">
		<a href="#users/me/posts/favorites">
			<i class="icon-heart"></i> Favorites
		</a>
	</li>
</ul>

<h4>Organize</h4>

<div class="reader-accordion">
	<div class="stacks-region"></div>
	<div class="categories-region"></div>
</div>

<h4>Discover</h4>

<ul>
	<li><a href="#blogs/popular"><i class="icon-star"></i>Popular Blogs</a></li>
	<li><a href="#blogs/trending"><i class="icon-bar-chart"></i>Trending Blogs</a></li>
	<li><a href="#stacks/popular"><i class="icon-star"></i>Popular Stacks</a></li>
</ul>