<!--
    go check out the search view and add input-group class on className if you uncomment this
    <span class="btn input-group-addon">
        <i class="icon-search"></i>
    </span>
 -->
<input class="search-query form-control" autocomplete="off" placeholder="Find blogs or bloggers" type="text" name="search">
