<div class="reader-accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#reader_sidebar_stacks">
        <i class="icon-caret-right"></i> Stacks
        <span class="reader-item-count">({{count this}})</span>
    </a>

    <div class="controls">
        <a class="js-add" href=""><i class="icon-plus"></i></a>
        <a class="js-sort" href=""><i class="icon-sort-by-alphabet{{sort_by}}"></i></a>
    </div>
</div>

<div id="reader_sidebar_stacks" class="accordion-body collapse {{collapsed}}">
    <ul></ul>
</div>