<div id="add-blog-modal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="icon-close close" data-dismiss="modal" aria-hidden="true">x</button>
            <div class="form-search input-group">
                <span class="btn input-group-addon">
                    <i class="icon-search"></i>
                </span>
                <input class="search-query form-control" autocomplete="off" placeholder="Search the blogodex or even add your own rss feeds" type="text" name="search">
            </div>
        </div>
        <div class="modal-body">
            <div class="search-query-results results-region"></div>
            <div class="text-center">
                <a class="js-more-results" href="#">Load more results</a>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn save js-done">Done</button>
        </div>
    </div>
</div>