<div class="col-md-1">
    <img class="img-polaroid" style="display: inline-block; max-width: 35px; max-height: 35px;" src="http://img.bitpixels.com/getthumbnail?code=19000&size=100&url={{url}}" />
</div>

<div class="col-md-4 blog-title">
    {{title}}
</div>

<div class="col-md-7 select-stacks">
    <select class="js-tagger" multiple style="width: 100%;">
        {{#each available_stacks}}
            <option value="{{id}}">{{title}}</option>
        {{/each}}
    </select>
</div>