<div class="stack title">
      <h4>{{title}}</h4>
      <div class="controls">
            <a class="js-sort sort" href=""><i class="icon-sort-by-alphabet"></i></a>
      </div>
</div>

<div class="js-all-category-posts all posts">
    <a href="#">
        <img>
        All posts
    </a>
</div>

<ul class="blogs-region"></ul>